{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
        <a href="{% url 'cadastro' %}"><img class="cadastro" src="{% static '/assets/ícones/1x/cadastro.png' %}">
            Cadastro</a>
        <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Login</a>
        <a href="{% url 'nova_imagem' %}"><img src="{% static '/assets/ícones/1x/adicionar1.png' %}">
            Nova Imagem</a>
        <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}">
            Sair</a>


    </nav>
</section>