{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
        <a href="#"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
        <a href="#"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Novas</a>
        <a href="{% url 'logout' %}?next={{ request.path }}"><img
                src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}">
            Sair</a>
        <a href="#"><img
                src="{% static '/assets/ícones/1x/adicionar1.png' %}">
            Nova Imagem</a>
    </nav>
</section>